<script type="text/javascript">
	$(function() {
		$(".tabs_ov").tabs();
	});
</script>
<tr class="option_value fields" id="<%= dom_id(f.object) %>"  data-hook="option_value">
<% if(Spree::Config[:locale].split(",").blank? && Spree::Config[:locale].split(",").count <= 1) %>
	<td class="name"><%= f.text_field :name %></td>
	<td class="presentation"><%= f.text_field :presentation %></td>
<% else %>
	<td colspan="2">
		<div class="tabs_ov">
			<ul>
				<% Spree::Config[:locale].split(",").each do |locale| %>
				<li><%= link_to "#{locale.to_s.titleize}", "#tab_ov_#{locale.to_s}"%></li>
				<% end %>
			</ul>
			<% Spree::Config[:locale].split(",").each do |locale| %>
			<div id="tab_ov_<%= locale.to_s %>">
				<%= f.globalize_fields_for locale.to_sym do |g| %>
				<% Spree::OptionType.translated_attribute_names.each_with_index do |attr, i| %>
					<p class="name" style="float: left; clear: none;"><%= t(attr) %> <%= g.text_field attr %></p>
				<% end %>
				<% end %>
			</div>
			<% end %>
		</div>
	</td>
<% end %>
	<td class="actions"><%= link_to_remove_fields t(:remove), f %></td>
</tr>
