<script type="text/javascript">
$(document).ready(function() {
	$("#tabs_left, #tabs_meta").tabs();
});
</script>
<div id="tabs_left" class="left eight columns alpha" data-hook="admin_product_form_left">
<% if(Spree::Config[:locale].split(",").blank? && Spree::Config[:locale].split(",").count <= 1) %>

	<%= f.field_container :name do %>
		<%= f.label :name, t("name") %> <span class="required">*</span><br />
		<%= f.text_field :name, :class => 'fullwidth title'  %>
		<%= f.error_message_on :name %>
	<% end %>

	<%= f.field_container :permalink do %>
		<%= f.label :permalink, t("permalink") %> <span class="required">*</span><br />
		<%= f.text_field :permalink, :class => 'fullwidth title'  %>
		<%= f.error_message_on :permalink %>
	<% end %>

	<%= f.field_container :description do %>
		<%= f.label :description, t("description")%><br />
		<%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
		<%= f.error_message_on :description %>
	<% end %>

<% else %>
	<ul>
	<% Spree::Config[:locale].split(",").each do |lang| %>
		<li><%= link_to "#{lang.to_s.titleize}", "#tab_#{lang.to_s}"%></li>
	<% end %>
	</ul>
	<% Spree::Config[:locale].split(",").each do |lang| %>
	<div id="tab_<%= lang.to_s %>">
	<%= f.globalize_fields_for lang.to_sym do |g| %>
	<% Spree::Product.translated_attribute_names.each_with_index do |attr, i| %>
	<% if(Spree::Product.columns_hash[attr.to_s].type == :text) %>
			<%= g.label attr, t(f)%><br />
			<%= g.cktext_area attr, {:rows => "#{unless @product.has_variants? then '20' else '13' end}", :class => 'fullwidth'} %>
	<% else %>
			<%= g.label attr, t(f) %><br />
			<%= g.text_field attr, :class => 'fullwidth title'  %>
	<% end %>
		<% end %>
		<% end %>
	</div>
	<% end %>

<% end %>
</div>