<div id="tabs_meta" data-hook="admin_product_form_meta">
<% if(Spree::Config[:locale].split(",").blank? && Spree::Config[:locale].split(",").count <= 1) %>
	
	<%= f.field_container :meta_description do %>
		<%= f.label :meta_description, t("description")%><br />
		<%= f.text_field :meta_description, :class => 'fullwidth' %>
		<%= f.error_message_on :meta_description %>
	<% end %>
	
	<%= f.field_container :meta_keywords do %>
		<%= f.label :meta_keywords, t("description")%><br />
		<%= f.text_field :meta_keywords, :class => 'fullwidth' %>
		<%= f.error_message_on :meta_keywords %>
	<% end %>

<% else %>
	<ul>
	<% Spree::Config[:locale].split(",").each do |lang| %>
		<li><%= link_to "#{lang.to_s.titleize}", "#tab_#{lang.to_s}"%></li>
	<% end %>
	</ul>
	<% Spree::Config[:locale].split(",").each do |lang| %>
	<div id="tabm_<%= lang.to_s %>">
		<%= f.globalize_fields_for lang.to_sym do |g| %>
		<% [:meta_description, :meta_keywords].each_with_index do |attr, i| %>
				<%= g.label attr, t(f) %><br />
				<%= g.text_field attr, :class => 'fullwidth title'  %>
		<% end %>
		<% end %>
	</div>
	<% end %>

<% end %>
</div>