<script type="text/javascript">
$(document).ready(function() {
	$("#tabs_left, #tabs_meta").tabs();
});
</script>
<div id="tabs_left" class="left" data-hook="admin_product_form_left">
<% if(LANG.blank?) %>

	<%= f.field_container :name do %>
		<%= f.label :name, t("name") %> <span class="required">*</span><br />
		<%= f.text_field :name, :class => 'fullwidth title'  %>
		<%= f.error_message_on :name %>
	<% end %>

	<%= f.field_container :permalink do %>
		<%= f.label :permalink, t("permalink") %> <span class="required">*</span><br />
		<%= f.text_field :permalink, :class => 'fullwidth title'  %>
		<%= f.error_message_on :permalink %>
	<% end %>

	<%= f.field_container :description do %>
		<%= f.label :description, t("description")%><br />
		<%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
		<%= f.error_message_on :description %>
	<% end %>

	<% else %>
	<ul>
	<%- LANG.each do |locale| %>
		<li><%= link_to "#{locale.to_s.titleize}", "#tab_#{locale.to_s}"%></li>
	<%- end -%>
	</ul>
	<%- LANG.each do |locale| %>
	<div id="tab_<%= locale.to_s %>">
		<% fieldsym = "name_#{locale}".to_sym %>
		<%= f.field_container fieldsym do %>
			<%= f.label fieldsym, t(fieldsym.to_s) %><br />
			<%= f.text_field fieldsym, :class => 'fullwidth title'  %>
			<%= f.error_message_on fieldsym %>
		<% end %>
		
		<% fieldsym = "permalink_#{locale}".to_sym %>
		<%= f.field_container fieldsym do %>
			<%= f.label fieldsym, t(fieldsym.to_s)%><br />
			<%= f.text_field fieldsym, :class => 'fullwidth title' %>
			<%= f.error_message_on fieldsym %>
		<% end %>
		
		<% fieldsym = "description_#{locale}".to_sym %>
		<%= f.field_container fieldsym do %>
			<%= f.label fieldsym, t(fieldsym.to_s)%><br />
			<%= f.text_area fieldsym, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
			<%= f.error_message_on fieldsym %>
		<% end %>
		</div>
	<% end %>

	<% end %>
</div>