<script type="text/javascript">
$(document).ready(function() {
	$("#tabs_t").tabs();
});
</script>
<div id="tabs_t" data-hook="admin_inside_taxonomy_form">
<% if(Spree::Config[:locale].split(",").blank? && Spree::Config[:locale].split(",").count <= 1) %>
	<%= f.field_container :name do %>
		<%= f.label :name, t(:name) %> <span class="required">*</span><br />
		<%= error_message_on :taxonomy, :name, :class => 'fullwidth title' %>
		<%= text_field :taxonomy, :name %>
	<% end %>
<% else %>
	<ul>
		<% Spree::Config[:locale].split(",").each do |locale| %>
		<li><%= link_to "#{locale.to_s.titleize}", "#tab_#{locale.to_s}"%></li>
		<% end %>
	</ul>
	<% Spree::Config[:locale].split(",").each do |locale| %>
	<div id="tab_<%= locale.to_s %>">
		<%= f.globalize_fields_for locale.to_sym do |g| %>
		<% Spree::Taxonomy.translated_attribute_names.each_with_index do |attr, i| %>
			<%= g.label attr, t(attr) %><span class="required">*</span><br />
			<%= g.text_field attr %>
		<% end %>
		<% end %>
	</div>
	<% end %>
<% end %>
	
</div>